ASTROLOGY_APP_NAME=Astrology Vending MVP
ASTROLOGY_ENV=local
ASTROLOGY_DEBUG=true
ASTROLOGY_EPHE_PATH=./data/ephe
ASTROLOGY_HOUSE_SYSTEM=K
ASTROLOGY_INCLUDE_ASTEROIDS=true
ASTROLOGY_INCLUDE_MINOR_ASPECTS=true
